/* Stylesheet for Boundless Horizon website */

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  
    font-family: 'Gilroy', sans-serif;
}
 

/* Header styles */
header {
  
  
}

.logo img {
  width: 15vw;
  color: red;
  margin-top: 2px;
  align-item: center;
  
}
.logo h3{
  color: deeppink;
  text-align: center;
}

.tagline h1 {
  font-size: 2.3vw;
  font-style: italic;
  color:rgb(39, 241, 255);
}
.tagline span{
  color: violet;
}
.san
{
  padding: 20px;
  text-align: center;
  justify-content: center;
  display: flex;
  background-color: white;
  border-bottom: 2px solid blueviolet;
}
/* Navigation styles */
nav {
  
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

/* Main content styles */
.section {
  padding: 40px 0;
  background-color: white;
  background-image: url('bg.jpg');
 
}
.section contain{
  height: 20vh;
  width: 80vw;
  background-color:wheat;
}


h2 {
  font-size: 3vw;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(255, 138, 28);
  border: 1px solid blue;
}

.boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box {
  background-color:wheat;
  width: 15vw;
  height: 17vh;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
   box-shadow: 5px 5px 10px darkviolet;
}


h3 {
  font-size: 2vw;
  color: violet;
  max-width: 90%;
  text-decoration: none;
}

p {
  font-size: 1.4vw;
  line-height: 1.5;
  max-width: 80%;
  color:rgb(17, 17, 17);
  
  
}

/* Footer styles */
footer h4 {
  background-color: grey;
  height: 15vh;
  width: 100%;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
}

.register {
  padding: 2vh 45vw;
}
.register button{
  font-size: 1.5vw;
  padding: 1vw 1vh;
  background-color: violet;
 border-radius : 20%;
 box-shadow: 1vw 1vw 1vw darkviolet;
}

.area-box{
  height: 100vh;
  width: 100vw;
 padding: 3vh 4vw;  
}
.area-content{
  height: 90%;
  width: 90%;
  background-color: #ffe4ad;
  border-radius: 2vh;
  padding: 2vh 3vw;
 
}
.area-content h1{
  font-size: 5vh;
  color: violet;
  
}
.area-content span{
  font-weight: bold;
  color: deepskyblue;
}
.area-content p{
  color: #white;
  font-size : 2vw;
}

.registration{
  height: 90%;
  width: 90%;
  background-color: white;
  border-radius: 2vh;
  border: 2px solid blueviolet;
  padding: 2vh 3vw;
  box-shadow: 1vw 1vw 1vw darkviolet ;
 
}

h4{
  font-size: 2vw;
  margin-top: 1vw;
}
input{
  font-size: 2vh;
  
}
textarea{
  font-size: 2vw;
}

button{
  font-size: 2vw;
}
